* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

body {
     height: 100vh;
     font-size: 1.5rem;
     display: flex;
     justify-content: center;
     align-items: center;
}

.container {
     background-color: rgb(216, 236, 254);
     width: 600px;
     border-radius: 7px;
     padding: 1.5rem 2rem;
}

h1 {
     text-align: center;
     color: #1a73e8;
     padding-top: 1rem;
     font-size: 2.2rem;
}

.form {
     display: flex;
     gap: 10px;
     padding-block: 2rem;
}

input[type="text"] {
     flex-grow: 1;
     padding: 12px;
     font-size: 1rem;
     border-radius: 8px;
     border: 2px solid #1a73e8;
     outline: none;
     transition: 0.3s;
}

button {
     padding: 12px 20px;
     background-color: #1a73e8;
     color: #fff;
     border: none;
     border-radius: 8px;
     font-size: 1rem;
     cursor: pointer;
     transition: 0.3s;
}

button:hover {
     background-color: #0056b3;
}

ul {
     /* padding: 10px; */
     list-style: none;
     padding: 0;
}

ul li {
     display: flex;
     justify-content: space-between;
     align-items: center;
     border-bottom: 1px dashed #ccc;
     padding-block: 1.5rem ;
     font-size: 1rem;
}


li button {
     background-color: transparent;
     margin-right: 10px;
}

/* li button:hover {
     background-color: transparent;
} */

li img {
     display: block;
     border-radius: 50%;
     width: 14px;
     height: auto;
}

/* Remove button */
li .remove-btn {
    background-color: #ea4335; /* Red color for remove button */
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 0.9rem;
    transition: 0.3s;
}


