<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>CSS Columns</title>
     <link rel="stylesheet" href="css/style.css">
</head>

<body>
     <section class="columns">
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique, nostrum assumenda aut cum numquam
               eveniet
               soluta sint officia earum repellat?</p>
          <p>Non vel iure, rerum magnam maiores esse accusamus fuga repellat quod sunt repudiandae ipsa pariatur
               aspernatur
               velit cupiditate perferendis placeat.</p>
          <!-- <h2>Next Topic</h2> -->
           <p class="quote">&#8220;This is a quote&#8221; <span> &#8211; the book </span></p>
          <p>Voluptatibus, quibusdam accusantium! Natus quibusdam dolores voluptatibus, modi impedit ipsa ut a explicabo
               praesentium illum sunt aliquid dolorum iusto eos!</p>
          <p>Tempore voluptates in sint error recusandae quos esse sit! Quis optio quisquam molestias nesciunt
               consequuntur
               nam magni earum laudantium aspernatur.</p>
     </section>
     <p>Fuga odit sed debitis adipisci accusamus quas neque? Optio dolore a in eum harum quaerat rem? Quibusdam totam
          nesciunt placeat.</p>
</body>

</html>