* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

body {
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     /* padding: 0 1rem; */
}

header {
     background-color: hsl(170, 100%, 50%);
     /* display: flex;
     align-items: center;
     justify-content: space-around; */
}
/* 
h1 {
     font-size: 1rem;
     letter-spacing: 0.1rem;
}

h1 a {
     text-decoration: none;
     text-transform: uppercase;
} */

ul {
     list-style-type: none;
     text-align: right;
     font-size: 1.7rem;
     font-weight: bold;
     text-shadow: 0 2px rgba(255, 255, 255, 0.8);
}

li {
     display: inline-block;
     padding: 1em;
     margin-inline: 1px;
     text-indent: 5px;
}

li a {
     text-decoration: none;
     font-variant: small-caps;
     letter-spacing: 0.2rem;
}

li a:visited {
     color: navy;
}

li a:hover {
     text-decoration: underline;
}

main {
     margin: 1rem;
}

.block {
     background-color: #333;
     color: #fff;
     width: 30vw;
     height: 30vw;
     padding: 1rem;
}

.left {
     float: left;
     margin-right: 1rem;
     margin-bottom: 1rem;
}
.right {
     float: right;
     margin-left: 1rem;
     margin-bottom: 1rem;
}

.clear {
     clear: both;
}

p {
     font-size: 1.1rem;
     line-height: 1.4;
     margin-bottom: 1rem;
     text-align: justify;
}

.columns {
     column-count: 4;
     column-width: 250px;
     column-rule: 2px solid #333;
     column-gap: 3rem;
}

/* span {
     display: inline-block;
     background-color: #333;
     color: whitesmoke;
     margin: 100px auto;
} */

